---
import Layout from "../../../layouts/Layout.astro";
import Post from "../../../components/Post.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={tag}>
  <main>
    <h2>Posts tagged with <span id="gradient-text">{tag}</span></h2>
    {
      posts.map((post) => (
        <Post
          title={post.frontmatter.title}
          url={post.url}
          img={post.frontmatter.image.src}
        />
      ))
    }
  </main>
</Layout>
